.card {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: space-between;
  text-align: right; 
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  width: 220px;
  margin: 10px;
  max-height: 18rem;
}
.name {
  font-size: 1.5rem;
}
.content {
  flex-grow: 1;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tags {
  margin-top: 10px;
}

.tagList {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}

.tag {
  background-color: #effdff;
  color: #048ebc;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 3px;
  font-size: 14px;
}

.link {
  margin-top: 1rem;
  color: #048ebc;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: x-large;
  cursor: pointer;
  color: rgb(255, 222, 38);
  align-self: start;
}