.ActivityCard {
    background-color: #ffffff;
    display: flex;
    width: 20rem;
    height: 15rem;
    border-radius: 2.5rem;
}

.ActivityCardHalf1, .ActivityCardHalf2 {
    display: flex;
    flex-direction: column;
}

.ActivityCardHalf1 {
    flex: 4;
    justify-content: space-around;
    margin-right: 17px;
}

.ActivityCardHalf2 {
    flex: 3;
    justify-content: center;
    align-items: center;
}

.limit {
    background-color: #EFFDFF;
    width: 3px; 
    height: auto; 
    color: #EFFDFF;
}

.nameActivity, .description {
    margin-right: 10px;
}


.description {
    font-size: 12px;
}

.nameActivity {
    font-weight: 700;
    font-size: 15px;
    margin-top: 0.5rem;
}

.tags {
    display: flex;
    justify-content: start;
}

.tag {
    background-color: #f0f0f0;
    border: 0.8px #333 solid;
    display: flex;
    justify-content: center; 
    align-items: center;
    color: #333;
    padding: 0.9px 5px 0 5px;
    border-radius: 7px;
    margin-right: 8px;
    font-size: 11px;
    font-weight: 300;
    height: 20px;
    min-width: 40px;
}

.moreDetails {
    color: #048ebc;
    font-weight: 600;
    font-size: 14px;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    text-align: start;
}

.moreOptionButton {
    width: 105px;
    height: 35px;
    background-color: #048ebc;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(217, 217, 217, 0.5);
    margin: 0.5rem 0;
    border-radius: 9px;
}
