.container {
  background-color: #E0F5F8;
  padding: 20px;
}

.heading {
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  padding: 1rem 0;

}

.title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-right: 2rem;
}

.activityGrid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: space-between;
  margin-right: 2rem;
  margin-left: 2rem;
}

.act {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  gap: 1rem;
}

.paginationButton {
  color: #048cba;
  border: none;
  padding: 3px 8px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-size: 1.8rem;
  width: 5%;
}

.paginationButton:disabled {
  cursor: not-allowed;
  color: #000000;
}
