.tableActivities {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-right: 2rem;
  margin-left: 2rem;
}


.noActivities {
  margin-top: 2.7rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh; 
  font-size: 1.4rem;
  color: #555;
}

.link {
  color: #007BFF; 
  font-weight: bold;
  margin: 3px 0;
}

.link:hover {
  color: #0056b3; 
}
