
.container {
    max-width: 600px;
    background: #f8f9fd;
    background: linear-gradient(
      0deg,
      rgb(255, 255, 255) 0%,
      rgb(244, 247, 251) 100%
    );
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    margin: 20px;
    position: relative;
  }
  
  .heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(16, 137, 211);
  }
  
  .form .input::-moz-placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input::placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input:focus {
    outline: none;
    border-inline: 2px solid #12b1d1;
  }
  
  .form {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
  }
  .form .fieldContainer {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .form .input {
    width: 100%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
  }
  
  .form .errorMessage {
    color: #888; 
    font-size: 12px; 
    margin-top: 5px; 
    font-style: italic; 
  }
  
  .form .loginButton {
    grid-column: span 2;
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(
      45deg,
      rgb(16, 137, 211) 0%,
      rgb(18, 177, 209) 100%
    );
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
  }
  
  .form .loginButton:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
    cursor: pointer;
  }
  
  .form .loginButton:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
  }
  
  .agreement {
    display: block;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
  }
  
  .agreement a {
    text-decoration: none;
    color: #0099ff;
    font-size: 11px;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(170, 170, 170);
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  
  .closeButton:hover {
    color: rgb(255, 80, 80);
    transform: scale(1.1);
  }
  
  .closeButton:active {
    transform: scale(0.9);
  }
  


  .suggestions {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* עדיפות גבוהה על אלמנטים אחרים */
    max-height: 150px; /* גובה מקסימלי */
    overflow-y: auto; /* גלילה אנכית */
    width: 100%; /* התאמה לרוחב האינפוט */
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .suggestions li {
    padding: 8px;
    cursor: pointer;
  }
  .suggestions li:hover {
    background-color: #f0f0f0;
  }

  .loader {
    margin: 13.1px 41% 0 41%;
    position: relative;
  }