@import url("https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap");

.body {
  font-family: Arial, sans-serif;
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: #f4f4f9;
  width: 100vhw;
}

.container {
  width: 100vw;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  height: 23rem;
  margin-bottom: 4rem;
}

.imagePeople {
  position: absolute;
  left: -5vw;
  width: 55vw;
  height: auto;
  margin-top: 5rem;
  padding: 0;
  z-index: -1;
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 4rem;
  margin-top: 0;
}

.header h1 {
  font-size: 2.2rem;
  color: #048ebc;
  margin: 0;
  padding: 0;
}

.header h2 {
  font-size: 2.8rem;
  color: #000000;
  margin: 0;
  padding: 0;
}

.header p {
  font-size: 1.2rem;
  color: #000000;
  margin: 0;
}

/* What is Time Bank? */
.sectionExplation {
  background-color: #e0f5f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  margin-top: 0;
  margin-bottom: 2rem;
  height: 300px;
}

.sectionExplation div {
  margin-right: 2rem;
  border-right: 4px solid #007ba6;
  padding-right: 1.7rem;
}

.sectionExplation h2 {
  font-size: 1.4rem;
  color: #007ba6;
  margin-bottom: 1.3rem;
}

.sectionExplation p {
  font-size: 1.1rem;
  color: #000000;
  width: 70%;
  line-height: 1.8;
}

/* How Start */
.cardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 6rem 4rem;
  justify-content: center;
}

.startCard {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #048ebc;
  text-align: center;
  border: 1px solid #fff;
  --rotate-animation: rotate(45deg);
  --scale-animation: scale(0);
}

.cardHover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 0;
  pointer-events: none;
  transform: scale(1) translateY(-50%);
  transition: transform 500ms;
  font-family: "Rubik Spray Paint", system-ui;
  font-weight: 400;
  font-style: normal;
}
.cardHover .cardNumber {
  font-size: 3.5rem;
}
.cardHover .cardName {
  font-size: 1.5rem;
}

.startCard:hover .cardHover {
  transform: scale(0);
}

.cardInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: var(--scale-animation);
  transition: transform 600ms ease 100ms;
  padding: 4rem 2rem;
}

.startCard:hover .cardInfo {
  --scale-animation: scale(1);
}

.cardOcupation {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: "Rubik Spray Paint", system-ui;
  font-style: normal;
}

/*why join*/
.sectionJoin {
  background-color: #e0f5f8;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 55vh;
}

.sectionJoin h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  color: #000000;
}

.benefits {
  display: grid;
  grid-template-areas:
    "benefit1 joinImage benefit2"
    "benefit3 joinImage benefit4";
  grid-template-columns: 1fr auto 1fr;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  align-items: center;
}

.joinImage {
  grid-area: joinImage;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.benefit {
  flex: 1 1 20%;
  padding: 1rem;
  text-align: center;
}

.benefit h3 {
  font-size: 1rem;
  color: black;
  font-weight: bold;
}

.benefit p {
  font-size: 1rem;
  color: #000;
  line-height: 1.5;
}

.benefit:nth-child(1) {
  grid-area: benefit1;
}

.benefit:nth-child(2) {
  grid-area: benefit2;
}

.benefit:nth-child(4) {
  grid-area: benefit3;
}

.benefit:nth-child(5) {
  grid-area: benefit4;
}

/* Call to Action */
.sectionStartNow {
  text-align: center;
  padding: 4rem;
  margin-bottom: 2rem;
}

.sectionStartNow p {
  font-size: 1.1rem;
  color: #000000;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.8;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .popupContent {
  background: #fff;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
} */

.btnStart {
  position: relative;
  margin: auto;
  padding: 15px 20px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.btnStart:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #e0f5f8;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.btnStart span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #048ebc;
  line-height: 1;
}

.btnStart svg {
  position: relative;
  /* top: 0; */
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #048ebc;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.btnStart:hover:before {
  width: 100%;
  background: #e0f5f8;
}

.btnStart:hover svg {
  transform: translateX(0);
}

.btnStart:active {
  transform: scale(0.95);
}
